---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import ListOfBook from "../components/ListOfBook.astro";
//import Card from '../components/Card.astro';
---

<Layout title="La biblioteca de pamperzi">
	<main class="m-auto max-w-4xl px-4">
		<Title />
		<ListOfBook />
	</main>
</Layout>
